.todo-list {
  list-style-type:none;
  background-color: rgb(241, 223, 223);
  padding: 20px;
  color: rgb(126, 7, 7);
  font-weight: bold;
  box-shadow: 5px 5px 5px grey;
}
 
  @media  (min-width:1440px){
    .todo-list {
      margin: 20px 350px;
    }
  }

  @media  (min-width:768px) and (max-width:1024px){
    .todo-list {
      margin: 10px 150px;

    }
  }


  @media  (min-width:425px) and (max-width:768px){
    .todo-list {
      margin: 30px 60px;
    }
  }

  @media  (min-width:320px) and (max-width:425px){
    .todo-list {
      margin: 30px 50px;
    }
  }